<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
	</div>

<table style='margin-left:80px;'>  
	<% f.fields_for :players do | p | %>
		<tr><th>Player:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
</table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
