<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
	</div>

<table style='margin-left:80px;'>  
	<% f.fields_for :player1 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player2 do | p | %>
		<tr><th>Player2:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player3 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player4 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player5 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player6 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player7 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player8 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player9 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player10 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player11 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player12 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player13 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player14 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player15 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player16 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player17 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player18 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player19 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
	<% f.fields_for :player20 do | p | %>
		<tr><th>Player1:</th><td><%= p.text_field :name,  :size => 40 %></td></tr>
	<% end %>
</table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
