<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @team_for_the_match.team_id %>
</p>

<p>
  <b>Match:</b>
  <%= @team_for_the_match.match_id %>
</p>

<p>
  <b>Player1:</b>
  <%= @team_for_the_match.player1_id %>
</p>

<p>
  <b>Player2:</b>
  <%= @team_for_the_match.player2_id %>
</p>

<p>
  <b>Player3:</b>
  <%= @team_for_the_match.player3_id %>
</p>

<p>
  <b>Player4:</b>
  <%= @team_for_the_match.player4_id %>
</p>

<p>
  <b>Player5:</b>
  <%= @team_for_the_match.player5_id %>
</p>

<p>
  <b>Player6:</b>
  <%= @team_for_the_match.player6_id %>
</p>

<p>
  <b>Player7:</b>
  <%= @team_for_the_match.player7_id %>
</p>

<p>
  <b>Player8:</b>
  <%= @team_for_the_match.player8_id %>
</p>

<p>
  <b>Player9:</b>
  <%= @team_for_the_match.player9_id %>
</p>

<p>
  <b>Player10:</b>
  <%= @team_for_the_match.player10_id %>
</p>

<p>
  <b>Player11:</b>
  <%= @team_for_the_match.player11_id %>
</p>


<%= link_to 'Edit', edit_team_for_the_match_path(@team_for_the_match) %> |
<%= link_to 'Back', team_for_the_matches_path %>
