<%= form_for(@team_roaster) do |f| %>
  <% if @team_roaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team_roaster.errors.count, "error") %> prohibited this team_roaster from being saved:</h2>

      <ul>
      <% @team_roaster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br />
    <%= f.text_field :team_id %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
