<p id="notice"><%= notice %></p>

<p>
  <b>Team:</b>
  <%= @roaster.team.name %>
</p>

<p>
  <b>Tournament:</b>
  <%= @roaster.tournament.name %>
</p>

<p>
  <b>Player1:</b>
  <%= @roaster.player1.name if @roaster.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @roaster.player2.name  if @roaster.player2%>
</p>

<p>
  <b>Player3:</b>
  <%= @roaster.player3.name  if @roaster.player3%>
</p>

<p>
  <b>Player4:</b>
  <%= @roaster.player4.name  if @roaster.player4%>
</p>

<p>
  <b>Player5:</b>
  <%= @roaster.player5.name  if @roaster.player5%>
</p>

<p>
  <b>Player6:</b>
  <%= @roaster.player6.name  if @roaster.player6%>
</p>

<p>
  <b>Player7:</b>
  <%= @roaster.player7.name  if @roaster.player7%>
</p>

<p>
  <b>Player8:</b>
  <%= @roaster.player8.name  if @roaster.player8%>
</p>

<p>
  <b>Player9:</b>
  <%= @roaster.player9.name  if @roaster.player9%>
</p>

<p>
  <b>Player10:</b>
  <%= @roaster.player10.name  if @roaster.player10%>
</p>

<p>
  <b>Player11:</b>
  <%= @roaster.player11.name  if @roaster.player11%>
</p>

<p>
  <b>Player12:</b>
  <%= @roaster.player12.name  if @roaster.player12%>
</p>

<p>
  <b>Player13:</b>
  <%= @roaster.player13.name  if @roaster.player13%>
</p>

<p>
  <b>Player14:</b>
  <%= @roaster.player14.name  if @roaster.player14%>
</p>

<p>
  <b>Player15:</b>
  <%= @roaster.player15.name  if @roaster.player15%>
</p>

<p>
  <b>Player16:</b>
  <%= @roaster.player16.name  if @roaster.player16%>
</p>

<p>
  <b>Player17:</b>
  <%= @roaster.player17.name  if @roaster.player17%>
</p>

<p>
  <b>Player18:</b>
  <%= @roaster.player18.name  if @roaster.player18%>
</p>

<p>
  <b>Player19:</b>
  <%= @roaster.player19.name  if @roaster.player19%>
</p>

<p>
  <b>Player20:</b>
  <%= @roaster.player20.name  if @roaster.player20%>
</p>


<%= link_to 'Edit', edit_roaster_path(@roaster) %> |
<%= link_to 'Back', roasters_path %>
