<tr>
		<td><%= select 'bowling_performance[]', :player_id,@team.match_players(@bowling_performance.inning.match_id).collect{ | p | [p.name, p.id ]}, :selected => @bowling_performance.player_id  %></td>
		<td> <%= text_field 'bowling_performance[]', :overs, :size => 1 %> </td>
		<td> <%= text_field 'bowling_performance[]', :maidens , :size => 1 %> </td>
		<td> <%= text_field 'bowling_performance[]', :runs , :size => 1 %> </td>
		<td> <%= text_field 'bowling_performance[]', :wickets , :size => 1 %> </td>
		<td> <%= text_field 'bowling_performance[]', :wides , :size => 1 %> </td>
		<td> <%= text_field 'bowling_performance[]', :noballs , :size => 1 %> </td>
</tr>
