<%= form_for(@inning) do |f| %>
  <% if @inning.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inning.errors.count, "error") %> prohibited this inning from being saved:</h2>

      <ul>
      <% @inning.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :overs %><br />
    <%= f.text_field :overs %>
  </div>
  <div class="field">
    <%= f.label :wides %><br />
    <%= f.text_field :wides %>
  </div>
  <div class="field">
    <%= f.label :noballs %><br />
    <%= f.text_field :noballs %>
  </div>
  <div class="field">
    <%= f.label :legbyes %><br />
    <%= f.text_field :legbyes %>
  </div>
  <div class="field">
    <%= f.label :byes %><br />
    <%= f.text_field :byes %>
  </div>
  <div class="field">
    <%= f.label :extras %><br />
    <%= f.text_field :extras %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="field">
    <%= f.label :bowled_out %><br />
    <%= f.check_box :bowled_out %>
  </div>
  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary %>
	</div>

  <p><%= link_to_remote "New Batsman", {:url => {:action => "new", :controller => "batsman_performances"}

	<table style='margin-left:80px;'>  
		<% f.fields_for :batting_performances do | p | %>
			<tr><th>Batsman:</th><td><%= select :player, :id, Player.find_all_by_team_id(@inning.batting_team_id).collect{ | p | [p.name, p.id ] } %></td></tr>
			<tr id="last_row">
			</tr>
		<% end %>
	</table>
	<table style='margin-left:80px;'>  
		<% f.fields_for :bowling_performances do | p | %>
			<tr><th>Bowlwer:</th><td><%= select :player, :id, Player.find_all_by_team_id(Match.find(@inning.match_id).other_team(Team.find(@inning.batting_team_id)).id).collect { | p | [p.name, p.id ] } %></td></tr>
		<% end %>
	</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
