<tr>
	<th>Batsman:</th><td><%= select :player, :id, Player.find_all_by_team_id(@team.id).collect{ | p | [p.name, p.id ] } %></td>
	<td>
    <%= text_field :batting_performance, :runs %>
</td>
<td>
    <%= text_field :batting_performance, :balls %>
</td>
<td>
    <%= text_field :batting_performance, :mins %>
</td>
<td>
    <%= text_field :batting_performance, :fours %>
</td>
<td>
    <%= text_field :batting_performance, :sixes %>
</td>
<td>
    <%= text_field :batting_performance, :singles %>
</td>
<td>
    <%= text_field :batting_performance, :doubles %>
</td>
<td>
    <%= text_field :batting_performance, :triples %>
</td>
<td>
    <%= text_field :batting_performance, :dot_balls %>
</td>
</tr>
