<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
	<%= hidden_field(:team, :id) %>
  <div class="actions">
		<%= f.submit "Add player to #{@team.name}'s team roaster" %>
	</div>
<% end %>
	<h3>List of players currently playing for <%= current_organization.name %> : </h3>
	<p>	
	<% i = 0 %>	
	<% current_organization.players.each do | player | %>
		<%= if i == 0 then player.name if player    else ", #{player.name}" if player  end  -%> 
		<% i = i +1 %>
	<% end %>
	</p>
