<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :played_on %><br />
    <%= f.date_select :played_on %>
  </div>
	<div class="field">
    <%= f.label :venue %><br />
		<%= select :match, :venue_id, Venue.find(:all).collect{|p| [p.name, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :overs %><br />
    <%= f.text_field :overs %>
  </div>
	<div class="field">
    <%= f.label :team1 %><br />
		<%= select :match, :team1_id, Team.find(:all).collect{|p| [p.name, p.id]} %>
  </div>
	<div class="field">
    <%= f.label :team2 %><br />
		<%= select :match, :team2_id, Team.find(:all).collect{|p| [p.name, p.id]} %>
	</div>
	<% if @match.team1 && @match.team2 then %>
		<div class="field">
    	<%= f.label :toss_winner %><br />
			<%= select :match, :toss_winner_id, [[ @match.team1.name, @match.team1.id], [@match.team2.name, @match.team2.id]] %>
		</div>
	<% end %>
	<% if @match.team1  && @match.team2 then%>
		<div class="field">
    	<%= f.label :team_batting_first %><br />
			<%= select :match, :team_batting_first_id, [[ @match.team1.name, @match.team1.id], [@match.team2.name, @match.team2.id]] %>
		</div>
	<% end %>
	<% if @match.team1  && @match.team2 then %>
		<div class="field">
    	<%= f.label :winner %><br />
			<%= select :match, :winner_id, [[ @match.team1.name, @match.team1.id], [@match.team2.name, @match.team2.id]] %>
		</div>
	<% end %>







  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
